.board {
  display: grid;
  max-width: calc(var(--w) * 1px);
  width: 100%;
  background: linear-gradient(#7974b9 0%, #5497e4 100%);
  font-family: VenomMincho;
  font-weight: bold;
  color: #23ffed;
  text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0),
    -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0),
    0px -2px 0 rgb(0, 0, 0), 2px 0px 0 rgb(0, 0, 0), -2px 0px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0),
    2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0);
  border: 10px ridge #4d85ec;
  padding: 1px;
  user-select: none;
}

.board9 {
  grid-template-rows: repeat(var(--ly), 1fr);
  grid-template-columns: repeat(var(--lx), 1fr);
}

.counter{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-family: BoncegroFF4F;
  font-size: 48px;
  font-weight: bold;
  color: #544d97;
  letter-spacing: 5px;
}