@font-face {
  font-family: 'EternalUi';
  src: url('./access/fonts/EternalUiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'VenomMincho';
  src: url('./access/fonts/VenomMincho.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ramadhanfest';
  src: url('./access/fonts/Ramadhanfest.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoncegroFF4F';
  src: url('./access/fonts/BoncegroFF4F.otf');
  font-weight: normal;
  font-style: normal;
}