.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: flex-start;
  background-color: rgba(24, 173, 231, 0.5);
  pointer-events: none;
  transform: scale(0, 0);
  transition: all 0.5s linear;
  z-index: 15;
}

.modal.show {
  pointer-events: all;
  transform: scale(1, 1);
}

.contentModal {
  background-color: #e79d12;
  width: 80%;
  display: flex;
  justify-content: center;
  font-family: VenomMincho;
  align-items: center;
  font-size: 42px;
  font-weight: bold;
  color: #23ffed;
}
